<div class="container-fluid">

    {{!-- INICIO DE NAVBAR --}}

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registro">Registro</a>
                        </li>
                    
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    {{!-- FIN DE NAVBAR --}}


    <h1 class="text-center" > {{curso}} | {{dias}}  </h1>

    <h1 class="text-center" > Cantidad de alumnos {{alumnos.length}}  </h1>

    <div class="row">



        {{#each alumnos}}
        <div class="col-4 mt-2">

            <div class="card" style="width: 18rem;">
                <img src="/images/{{foto}}" class="mt-1 card-img-top w-50 rounded mx-auto d-block" alt="...">
                <div class="card-body text-center">
                    <p class="card-text">
                        <a href="/persona/{{nombre}}/{{edad}}/{{foto}}">{{nombre}}</a>
                        </p>
                    <p class="card-text">{{edad}}</p>
                </div>
            </div>
 




        </div>

        {{/each}}


    </div>



</div>